* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Home Css*/
.home{
    min-height: 100vh;
    background-color: rgb(243, 108, 108);
}
.gallery{
    padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.navbar-dark,.bg-body-tertiary{
background-color: indianred !important;
border: 2px solid sandybrown;
}
/*Photo card CSss*/
.card {
  border-radius: 12px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}
/*Login/Peronal/Admin*/ 

.inner-box {
  min-height: calc(100vh - 56px);
  display: flex;
  justify-content: center;
  align-items: center;
    background-color: rgb(243, 108, 108);
}

.login-pass {
  width: 100%;
  max-width: 380px;
  padding: 15px;
}

/*Login Card*/
.login-pass .card {
  padding: 10px;
}

.card-title {
  text-align: center;
  font-weight: 600;
      font-family: math;
    font-size: 2rem;
}

/* ===== FORM ===== */
.form-control {
  margin-top: 10px;
  height: 45px;
}

/* ===== BUTTONS ===== */
.login {
  width: 100%;
  margin-top: 15px;
  font-family: math;
    font-size: 1.2rem;
}
.logout {
  font-size: 14px;
  padding: 5px 12px;
}
/* ===== RESPONSIVE ===== */
@media (max-width: 600px) {
  .card img {
    height: 160px;
  }
}
.logout{
    color: #0a58ca;
    font-family: math;
    font-size: 1.3rem;
    border-radius: 20px;
    background-color: lightsalmon;
    width: 100px;
    border: 1px solid whitesmoke;

}
.header{
background-color: rgb(243, 108, 108);
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2.2rem;
    font-family: initial;
}

.admin-box{
  display: block;

}
.admin-passwordlbl{
 font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    }
.admin-passwordfrom{
  border-radius: 25px;
}
.admin-btn{
    width: 50%;
    border-radius: 25px;
    height: 50px;
    margin-top: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
    background-color: darkcyan;
    border: 1px solid white;
    color: antiquewhite;
    font-size: 1.2rem;
    font-family: fangsong;
} 
   .modal-body,.modal-header,.modal-footer {
    background-color: darkcyan;
  }
  .upload-btn{
width: 20%;
    border-radius: 25px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkcyan;
    border: 1px solid white;
    color: antiquewhite;
    font-size: 1.2rem;
    font-family: fangsong;
  }

  .photo-btn{
    width: 100px;
border-radius: 25px;
    background-color: darkcyan;
    border: 1px solid white;
    color: antiquewhite;
    font-size: 1.2rem;
    font-family: fangsong;    
  }
  .upload-btn{
    width: 100%;
  border-radius: 25px;
    background-color: darkcyan;
    border: 1px solid white;
    color: antiquewhite;
    font-size: 1.2rem;
    font-family: fangsong;    

  }
  #dashboard{
    cursor: pointer;
    font-size: 1.5rem;
    border: 1.8px solid whitesmoke;
    border-radius: 15px;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;

  }
  .inner-admin{
background-color: rgb(243, 108, 108);
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: 1px solid antiquewhite;  }