* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Home Css*/
.home{
    min-height: 100vh;
    background-color: rgb(243, 108, 108);
}
.gallery{
    padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.navbar-dark,.bg-body-tertiary{
background-color: indianred !important;
border: 2px solid sandybrown;
}
/*Photo card CSss*/
.card {
  border-radius: 12px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}
/*Login/Peronal/Admin*/ 

.inner-box {
  min-height: calc(100vh - 56px);
  display: flex;
  justify-content: center;
  align-items: center;
    background-color: rgb(243, 108, 108);
}

.login-pass {
  width: 100%;
  max-width: 380px;
  padding: 15px;
}

/*Login Card*/
.login-pass .card {
  padding: 10px;
}

.card-title {
  text-align: center;
  font-weight: 600;
      font-family: math;
    font-size: 2rem;
}

/* ===== FORM ===== */
.form-control {
  margin-top: 10px;
  height: 45px;
}

/* ===== BUTTONS ===== */
.login {
  width: 100%;
  margin-top: 15px;
  font-family: math;
    font-size: 1.2rem;
}
.logout {
  font-size: 14px;
  padding: 5px 12px;
}
/* ===== RESPONSIVE ===== */
@media (max-width: 600px) {
  .card img {
    height: 160px;
  }
}
.logout{
    color: black;
    font-family: cursive;
    font-size: 1.1rem;
    border-radius: 20px;
}
.header{
background-color: rgb(243, 108, 108);
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2.2rem;
    font-family: initial;
}

.uplod-photo{
  display: flex;
  justify-content: center;
  align-items: center;
   font-size: 14px;
  padding: 5px 12px;

}