.inner-box{
    width: 100%;
    height: 100vh;
    background-color: rgb(243, 108, 108);
    overflow: hidden;
}
.login-pass{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}
.card{
border-radius: 25px;
}
.card-body{
    width: 30rem;
    height: 50vh;
    border-radius: 25px;
    background-color: lightcoral;
    border-radius: 25px;
    border: 1px solid white;
}
.card-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
}
.login{
    width: 50%;
    margin-left: 26%;
    border: 2px solid #ffc107;
    color: red;
    font-size: 1.3rem;
    background-color: antiquewhite;
    font-family: emoji;
    border-radius: 20px;
    padding: .6rem;
}
.logout{
width: 274%;
    color: black;
    font-family: cursive;
    font-size: 1.1rem;
    border-radius: 20px;
}
.card-text{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;

}

.form-control {
    padding: 1rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border-radius: 17px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border: 1px solid red;
}
.bg-body-tertiary {
    background-color: indianred !important;
    border: 2px solid sandybrown;
}